---
import "../../styles/global.css";
import "../../styles/auth-extra.css";
import AuthLoginIsland from "../../components/islands/AuthLoginIsland.tsx";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Login - SGTUR</title>
  </head>
  <body class="auth-body">
    <AuthLoginIsland client:load />
  </body>
</html>
