---
import "../../styles/global.css";
import "../../styles/auth-extra.css";
import AuthRecoverIsland from "../../components/islands/AuthRecoverIsland.tsx";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Recuperar senha - SGTUR</title>
  </head>
  <body class="auth-body">
    <AuthRecoverIsland client:load />
  </body>
</html>
