---
import "../../styles/global.css";
import "../../styles/auth-extra.css";
import AuthRegisterIsland from "../../components/islands/AuthRegisterIsland.tsx";
import { SYSTEM_NAME } from "../../lib/systemName";

const pageTitle = `Criar conta - ${SYSTEM_NAME}`;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>{pageTitle}</title>
  </head>
  <body class="auth-body">
    <AuthRegisterIsland client:load />
  </body>
</html>
