---
import "../../styles/global.css";
import "../../styles/auth-extra.css";
import AuthRegisterIsland from "../../components/islands/AuthRegisterIsland.tsx";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Criar conta - SGTUR</title>
  </head>
  <body class="auth-body">
    <AuthRegisterIsland client:load />
  </body>
</html>
