---
import "../../styles/global.css";
import "../../styles/auth-extra.css";
import AuthResetIsland from "../../components/islands/AuthResetIsland.tsx";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Nova senha - SGTUR</title>
  </head>
  <body class="auth-body">
    <AuthResetIsland client:load />
  </body>
</html>
