---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import LogsIsland from "../../components/islands/LogsIsland.tsx";
---

<DashboardLayout title="Logs de Auditoria">
  <div class="page-content-wrap">
    <LogsIsland client:load />
  </div>
</DashboardLayout>
