---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import PermissoesAdminIsland from "../../components/islands/PermissoesAdminIsland.tsx";
---

<DashboardLayout title="Permissões do Sistema">
  <div class="page-content-wrap">
    <PermissoesAdminIsland client:visible />
  </div>
</DashboardLayout>
