---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import HeaderPage from "../../components/ui/HeaderPage.astro";
import ClientesConsultaIsland from "../../components/islands/ClientesConsultaIsland.tsx";

const activePage = "clientes";
---

<DashboardLayout title="Carteira de Clientes" {activePage}>
  <div class="page-content-wrap">
    <HeaderPage
      title="Carteira de Clientes"
      subtitle="Gerencie seus clientes com visão de CRM."
      color="blue"
    />

    <ClientesConsultaIsland client:load />
  </div>
</DashboardLayout>
